*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #252627
}
/* Navbar Design*/
.nav{
    width: 100vw;
    height: 100px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo h1{
    color: #707070;
    margin-left: 40px;
}
.nav .logo h1:hover{
    color: #ff234b;
}
.nav .list-item ul{
display: flex;
justify-content: center;
align-items: center;
}
.nav .list-item ul li {
    list-style: none;
    margin: 5px 20px;
    

}
.nav .list-item  ul li a{
    color: azure;
text-decoration: none;
}
.nav .list-item  ul li a:hover{
color: #ff234b;
}
span{
    color: #ff234b;
}
/* intro */
.intro {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 600px;
    width: 100%;
    background-image: url(./images/s-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 15s;
    
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 30s;

   
}

 @keyframes animate{
    0%{
        background-image:url(./images/s-1.jpg);
    }
    20%{
        background-image:url(./images/s-2.jpg);
      
    }
    40%{background-image:url(./images/s-3.jpg);
    }
    60%{background-image:url(./images/s-4.jpg);
    }
    80%{
        background-image:url(./images/s-5.png);
    }
    100%{background-image:url(./images/m-1.jpg);
    }
}

.intro .text{
     margin: 50px 100px;
     color: #ff234b;
padding: 20px;
}
.intro .text h2{
    margin: 20px;   
font-weight: 900;
    font-size: 50px;
}
.intro .text p{
 margin: 20px;   

 font-size: 25px;
}
.intro .text .span::before{
    content:'';
    color:#48CFAD;
    animation: text infinite 8s;
}

@keyframes text{
    
    0%{
    content:'Movies';
    }
    50%{
   content:'Drama';
    }
    100%{
    content:'Action';
    }
}

/* Movies Section*/
.movies{
    margin: 50px 15px;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    flex-wrap: wrap;
}
.movies .card {
    text-align: center;
border-radius: 6px;
background-color: aliceblue;
margin: 20px 0px;
transition: transform 0.5s;
}
.movies .card img{
 height: 250px;
 border-radius: 5px 5px 0px 0px;
}
.movies .card:hover{
    transform: translateY(-10px);
}
.heading{
    margin: 30px 50px;
    font-size: 50px;
    font-weight: 900;
    color: #505050;
    width: 100%;
}
.heading:hover{
    color: #ff234b;
}